.red {
    color:red;
}

.blue {
    color: blue;
}

.pink-div {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}

.food-item {
    list-style: none;
    display: inline;
    margin: 20px;
    background-color: powderblue;
    border-radius: 10px ;
    padding: 5px;
}

